name: Publish Any Commit
on:
  push:
    branches:
      - '**'
    tags-ignore:
      - '**'
  pull_request:
    branches:
      - '**'

permissions: {}

jobs:
  release:
    uses: sxzz/workflows/.github/workflows/release-commit.yml@v1
    with:
      compact: true
